<div class="image-wrapper">
  <picture>
    <source media="(min-width: 2500px)" [srcset]="teamMember.images.w2560" />
    <source media="(min-width: 1920px)" [srcset]="teamMember.images.w1920" />
    <source media="(min-width: 1080px)" [srcset]="teamMember.images.w1080" />
    <source media="(min-width: 400px)" [srcset]="teamMember.images.w400" />
    <source media="(min-width: 200px)" [srcset]="teamMember.images.w200" />
    <img [src]="teamMember.images.w200" />
  </picture>
</div>
<div class="bio">
  <h3 class="name">{{ teamMember.name }}</h3>
  <p class="position">{{ teamMember.position }}</p>
  <p class="email">
    <a [href]="mailto(teamMember.email)">{{ teamMember.email }}</a>
  </p>
  <p class="phone">{{ teamMember.phoneNumber }}</p>
</div>
